[includeIf "gitDir:~/Projects/Work/**"]
    path = ~/Projects/Work/.gitconfig

[user]
	name = Leonardo Salazar
	email = 42286051+lsalazarm99@users.noreply.github.com
	signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGifVJaMjYSrZTQAPtF5EVE2abb2WiMAOylTqub0nms1

[init]
	defaultBranch = main

[core]
	autocrlf = input

[commit]
	gpgSign = true

[tag]
	gpgSign = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[pull]
	rebase = false
