[user]
	name = Leonardo Salazar
	email = 42286051+lsalazarm99@users.noreply.github.com
	signingKey = ~/.ssh/id_ed25519.pub

[init]
	defaultBranch = main

[core]
	autocrlf = input
	excludesFile = ~/.gitignore

[commit]
	gpgSign = true

[tag]
	gpgSign = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers

[pull]
	rebase = false
